MICROKIT_SDK=/home/zhewen/Documents/sddf/microkit-sdk-2.0.1
MICROKIT_BOARD=star64
MICROKIT_CONFIG=debug
CAKE_COMPILER=/home/zhewen/Documents/sddf/cake-x64-64/cake

PANCAKE_NETWORK_DRIVER=1
PANCAKE_NETWORK_VIRT_TX=1
PANCAKE_NETWORK_VIRT_RX=1
PANCAKE_NETWORK_COPY=1
PANCAKE_SERIAL_DRIVER=1
PANCAKE_SERIAL_VIRT_TX=1
PANCAKE_SERIAL_VIRT_RX=1
PANCAKE_TIMER=0
PANCAKE_I2C=0
PANCAKE_BLK=0
