MICROKIT_SDK=/home/zhewen/Documents/sddf/microkit-sdk-2.0.1
MICROKIT_BOARD=qemu_virt_riscv64
MICROKIT_CONFIG=debug
CAKE_COMPILER=cake

PANCAKE_NETWORK_DRIVER=0
PANCAKE_NETWORK_VIRT_TX=0
PANCAKE_NETWORK_VIRT_RX=0
PANCAKE_NETWORK_COPY=0
PANCAKE_SERIAL_DRIVER=0
PANCAKE_SERIAL_VIRT_TX=0
PANCAKE_SERIAL_VIRT_RX=0
PANCAKE_TIMER=1
PANCAKE_I2C=0
PANCAKE_BLK=0
